<div class="ui center aligned container vehicle-stat-header">
  <h1 class="white">Driver</h1>
</div>

<div class="feature alternate ui stripe vertical segment">
  <div class="ui three column center aligned divided relaxed stackable stat-row grid container">
    <div class="row">
      <div class="column">
        <div class="ui inverted statistic">
          <div class="value" id="last-trip-hard-brakes">
            <%# <%= @last_trip.hard_brakes %1> %>
          </div>
          <div class="label">
            Hard Brakes
          </div>
        </div>
      </div>
      <div class="column mid-stat">
        <div class="ui inverted statistic">
          <div class="value" id="last-trip-hard-accels">
            <%# <%= @last_trip.hard_accels %1> %>
          </div>
          <div class="label">
            Hard Accels
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui inverted statistic">
          <div class="value" id="last-trip-duration-70">
            <%# <%= @last_trip.duration_over_70_s %1> %>
          </div>
          <div class="label">
            Seconds over 70 MPH
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
