<div class="ui center aligned container vehicle-stat-header">
  <h1 class="white" id="vehicle-title">
  </h1>
</div>

<div class="feature alternate ui stripe vertical segment">
  <div class="ui three column center aligned divided relaxed stackable stat-row grid container">
    <div class="row">
      <div class="column">
        <div class="ui inverted statistic">
          <div class="value" id="last-trip-fuel-economy">
          </div>
          <div class="label">
            Current MPG
          </div>
        </div>
      </div>
      <div class="column mid-stat">
        <div class="ui inverted statistic">
          <div class="value" id="vehicle-fuel-percent">
          </div>
          <div class="label">
            Current Fuel Level
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui inverted statistic">
          <div class="value" id="vehicle-dtc-count">
          </div>
          <div class="label">
            Engine Trouble Codes
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
