<%= provide(:title, "Vehicles") %>
<%= render partial: 'layouts/nav' %>
<body class="lykan-2-bw" />

<div class="header-buffer ui vertical segment h-350"></div>

<% @vehicles.each do |vehicle| %>
  <div class="ui vertical stripe segment" id="vehicles-stripe">
    <% @vehicle = vehicle %>
    <%= render 'shared/vehicle_overview', {locals: @vehicle} %>
  </div>
    <div class="header-buffer ui vertical segment h-300"></div>
<% end %>

<%= render 'layouts/footer' %>
