<%= render partial: 'layouts/nav' %>
<body class="lykan-2-bw" />

<div class="header-buffer ui vertical segment h-350"></div>

<div class="ui vertical stripe segment" id="vehicles-stripe">
  <% @vehicles.each do |vehicle| %>
    <% @vehicle = vehicle %>
    <%= render 'shared/vehicle_overview', {locals: @vehicle} %>
  <% end %>
</div>

<div class="header-buffer ui vertical segment h-350"></div>

<%= render 'layouts/footer' %>
