<%= render partial: 'layouts/nav' %>
<body class="ferrari-background" />


<div class="header-buffer ui vertical segment h-350"></div>
<div class="header-buffer ui vertical segment h-350"></div>
<div class="header-buffer ui vertical segment h-350"></div>
<%= render 'layouts/footer' %>
