#log-in-button {
  max-width: 300px;
}

#login-contain {
  height: 100%;
}

#login-logo {
  max-width: 250px !important;
  margin-bottom: 20px;
}

#nav-logo {
  margin-left: 75px;
  max-height: 130px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

footer small {
  float: left;
}

.login-background {
  /* background-color: #292929; */
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lykan-background {
  /* background-image: url(/assets/lykan_hypersport_4.jpg); */
  background: url(/assets/bw_dark_lykan.jpg) no-repeat center center;
}

.clear {
  background-color: rgba(255,255,255,0.0);
}

.m-width-450 {
  max-width: 450px;
}

.product-title {
  font-size: 5em;
  letter-spacing: .1em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.white {
  color: white;
}

#top-nav {
  background-color: rgba(10,10,10,0.2);
}

