#log-in-button {
  max-width: 300px;
}

#login-contain {
  height: 100%;
}

#login-logo {
  max-width: 250px !important;
  margin-bottom: 20px;
}

.stat-row {
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-top: 1px solid rgba(255,255,255,0.5);
}

.stat-bottom {
  // border-bottom: 1px solid rgba(255,255,255,0.5);
}

.vehicle-stat-header {
  padding-top: 1em;
  padding-bottom: 1em;
}

#nav-logo {
  margin-left: 68px;
  max-height: 130px;
}

.mid-stat {
  border-left: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.5);
}

.header-buffer {
  border-bottom: 0px !important;
  border-top: 0px !important;
}

.login-background {
  /* background-color: #292929; */
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lykan-background {
  background: image-url("bw_dark_lykan.jpg") no-repeat fixed center center;
}

.clear {
  background-color: rgba(255,255,255,0.0);
}

.m-width-450 {
  max-width: 450px;
}

.h-350 {
  height: 19em;
}

.product-title {
  font-size: 5em;
  letter-spacing: .1em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.white {
  color: white;
}

#top-nav {
  background-color: rgba(10,10,10,0.2);
}

