<div class="ui fixed inverted vertical footer segment footer-stripe">
  <div class="ui center aligned container">
    <img src="<%= asset_path('A-logo-sm-bw.png') %>" class="ui centered mini image" id="footer-logo">
    <small>
      2016 Autolizer
    </small>
  </div>
</div>
