<%# <footer class="ui inverted vertical footer"> %>
<%#   <small> %>
<%#     2016 Autolizer %>
<%#   </small> %>
<%# </footer> %>
<div class="ui fixed inverted vertical footer segment">
  <div class="ui container">
    <small>
      2016 Autolizer
    </small>
  </div>
</div>
